<h1 mat-dialog-title>Update User Details</h1>


<div mat-dialog-content>
<form [formGroup]="userDetailsForm">
  <div>
    <label>
      First Name:
      <input id="firstName" type="text" formControlName="firstName" [(ngModel)]="data.firstName">
    </label>
    <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">

      <div *ngIf="firstName.errors.required" style="color: red;">
        First Name is required.
      </div>
    </div>
  </div>


  <div>
    <label>
      Last Name:
      <input id="lastName" type="text" formControlName="lastName" [(ngModel)]="data.lastName">
    </label>
    <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">

      <div *ngIf="firstName.errors.required" style="color: red;">
        Last Name is required.
      </div>
    </div>
  </div>

  <div>
    <label>
      User Name:
      <input id="email" type="text" formControlName="email" disabled [(ngModel)]="data.email">
    </label>
    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">

      <div *ngIf="email.errors.required" style="color: red;">
        Last Name is required.
      </div>
      <div *ngIf="email.errors.email" style="color: red;">
        Please provide a valid email id
      </div>
    </div>
  </div>

</form>
</div>
<div mat-dialog-actions>
    <button type="submit" [disabled]="!userDetailsForm.valid" [mat-dialog-close]="data" cdkFocusInitial>Update</button>

  <button mat-button (click)="onNoClick()">Cancel</button>
</div>