<div>
    <h2>Login</h2>
   <form [formGroup]="loginForm" (ngSubmit)="login()">
    <label>
        User Name:
        <input type="text" formControlName="email">
      </label>
    
      <label>
        Password:
        <input type="password" formControlName="password">
      </label>
      <button type="submit" [disabled]="!loginForm.valid">Submit</button>
   </form>   
</div>
<button mat-raised-button color="primary" [routerLink]="['registration']">Register</button>

<div style="margin: 3em">Forgot Password? Please enter your email id to receive reset password link</div>
<div style="margin: 4em">
  <form [formGroup]="resetPwdForm" (ngSubmit)="sendResetPwdLink()">
      <label>
          Enter Email ID:
          <input type="text" formControlName="resetPwdEmail">
        </label>
        <div *ngIf="resetPwdEmail.invalid && (resetPwdEmail.dirty || resetPwdEmail.touched)" class="alert alert-danger">

          <div *ngIf="resetPwdEmail.errors.required" style="color: red;">
            Email is required.
          </div>
          <div *ngIf="resetPwdEmail.errors.email" style="color: red;">
            Please provide a valid email id
          </div>
          </div>
          <button type="submit" [disabled]="!resetPwdForm.valid">Reset</button>
  </form>
</div>
